<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="milli"
         point="org.eclipse.core.runtime.products">
      <product
            application=""
            name="Equinox Milli Server">
         <property
               name="appName"
               value="Equinox Milli Server">
         </property>
      </product>
   </extension>

</plugin>
