<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Service Editor"
            extensions="connector,service,scrappy"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.spagic3.ui.serviceeditor.editors.ServiceEditor"
            id="org.spagic3.ui.serviceeditor.editors.ServiceEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Service Wizards"
            id="org.spagic3.ui.serviceeditor.wizard">
      </category>
      <wizard
            name="New Service"
            icon="icons/sample.gif"
            category="org.spagic3.ui.serviceeditor.wizard"
            class="org.spagic3.ui.serviceeditor.wizards.ServiceNewWizard"
            id="org.spagic3.ui.serviceeditor.wizards.ServiceNewWizard">
      </wizard>
   </extension>
   

</plugin>
